# Project Summary and Objectives

## Project Summary
Glow Social Media is a successful Social Media Business in the Lansing area.Glow Social Media helps medium-sized to large businesses engage, grow, and monitor social media.  

You have lots of website content, including 7 posts in August. A website that is better looking and designed to engage visitors in a sales funnel will improve the effectiveness of that content.  

Great content plus promotion will help Glow attract new clients and experiment with new client retention strategies.

## Project Objectives

The core objectives of this project include:  

<ul>
	<% data.proposal.objectives.each do |p| %>
		<li><%= p %></li>
	<% end %>
</ul>
