# Timing and Milestones

## Timing
We will be ready to begin this project on **<%= data.proposal.start_date %>** and expect it to be completed by **<%= data.proposal.end_date %>**.

## Milestones


Each of the following reflect important milestones, the completion of which will constitute the successful completion of the project:  

- Milestone 1: Complete Design Phase, _Two Weeks from Start Date_
	- Site architecture completed
  - Wiredrames depicting layouts, graphics, and images completed
  - Content document started
  - Expected Completion: 2 Weeks from Start
- Milestone 2: Deploy Website, _Two Weeks from Completion of *Milestone 1*_ 

_Note: To complete Milestone 1, we will need 1-2 hours of your time, in order to discuss and review goals and sketches. To the extent possible, we use asynchronous collaborative tools, in order to make the process efficient for all parties._ 

## Project Restrictions  
The following are considered out of scope for this project:  

<ul>
<% if data.proposal.restrictions.nil? %>
	<li>Not include any features that require custom software development</li>
<% else %>
	<% data.proposal.restrictions.each do |p| %>
		<li><%= p %></li>
	<% end %>
<% end %>
</ul>

## Project Tracking

The project will be tracked in Asana, our project development tool. We have found most clients prefer a weekly status email. However access to Asana is available upon request.


